* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  --base-color-white: #ffffff;
  --base-color-warm-grey: #8f8f8f;
  --base-color-pinkish-grey: #cccccc;
  --base-color-dark-charcoal: #333333;
  --base-color-wild-watermelon: #ff5863;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
